
  <body class="goto-here">

    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9  text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
            <h1 class="mb-0 bread">Contact us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
      	<div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Phone:</span> <a href="tel://1234567920">{{adminPhoneNo}}</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Email:</span> <a href="mailto:info@yoursite.com">{{adminEmail}}</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Website</span> <a href="#">Vegefood.com</a></p>
	          </div>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form  [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="bg-white p-5 contact-form">
              <label style='display:none'  for="user_type"> User Type</label><br>
              <select style='display:none' type="select" class="form-control" name="user_type" formControlName="user_type">
                <option value=0>User</option>
                <option value=1>Admin</option>
              </select><br>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Name" name="username" value=""
                 formControlName="username" readonly>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email" name="email" value=""
                 formControlName="email" readonly>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" name="subject" 
                formControlName="subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" name="message" placeholder="Message" 
                formControlName="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div id="map" class="bg-white"></div>
          </div>
        </div>
      </div>
    </section>

    
  </body>
