<div class="item" *ngFor="let testimony of testimonyData">
    <div class="testimony-wrap p-4 pb-5">
        <div class="user-img mb-5" style="background-image: url({{testimony.testimonyImg}})">
            <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
            </span>
        </div>
        <div class="text text-center">

            <p class="name">Garreth Smith</p>
            <span class="position">{{testimony.testimonyPosition}}</span>
            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the blind texts.</p>
        </div>
    </div>
    <hr>
</div>
